*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    background-color: beige;
}
.form-box{
    border: 1px solid rgb(241, 241, 185);
    width: 725px;
    height: 800px;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(241, 241, 199);
    box-shadow: 0px 0px 3px 3px rgb(136, 136, 109);

}
.input-div{
    /* border: 1px solid rgb(235, 23, 23); */
    width: 330px;
    height: 75px;
    margin-top: 5px;
}
legend{
    margin-left: 200px;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
    color: rgb(2, 126, 29);
    text-shadow: 0px 0px 30px 30px rgb(185, 60, 28);

}
label{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
.input-fname{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 15px;
    padding-left: 20px;
    border-bottom: 3px solid black;
    
}
.gender{
    width: 670px;
    height: 90px;
    
}
.gender-div{
    border: 1px solid black;
    border-bottom: 3px solid black;
    height: 50px;
    width: 640px;
    margin: 10px auto;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}
.radio{
    margin: 5px 5px 5px 50px;
    font-size: 30px;
    /* height: 25px; */
    /* width: 50px; */
    
}
.address{
    height: 115px;
    width: 665px;

}
.input-textarea{
    border: 1px solid black;
    border-bottom: 3px solid black;
    height: 75px;
    width: 640px;
    font-size: 20px;
    margin: 10px auto;
    margin-left: 20px;
    border-radius: 5px;
}
.qualification{

}
.upload-image{
    width: 670px;
    height: 90px;
}
.save{
    height: 50px;
    width:150px;
    margin-left: 180px;
}
.reset{
    height: 50px;
    width: 150px;
    margin-right: 180px;
}
.input-save{
    height: 50px;
    width: 110px;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(206, 105, 206);

}