*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.nav-box{
    /* border: var(--border); */
    height: 100px;
    background-color: aliceblue;

}

.company-name{
    /* border: var(--border); */
    width: 30%;
    float: left;
    font-size: 30px;
    font-weight: 600;
    color: rgb(21, 218, 21);
    margin-left: 30px;



}
.company-name img{
    height: 100px;
    width: 150px;
    /* border: 10px solid rgb(233, 7, 7); */
}
.company-name p{
    float:right;
    margin-right: 50px;
    margin-top: 10px;
    text-align: center;
}
.nav{
    /* border: var(--border); */
    width: 40%;
    float: right;
    margin-top: -40px;
    margin-right: 350px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    justify-content: space-around;
}
.d{
    margin: 5px;
}
.sign-box{
    /* border: var(--border); */
    height: 45px;
    width: 250px;
    float: right;
    margin-top: 35px;
    margin-right: 30px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    
    
}

.sign{
    background-color: rgb(52, 52, 240);
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: aliceblue;
    margin: 3px auto;
    
   
}
.sign a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}


/* for card */


:root{
    --border:1px solid rgb(51, 90, 50);
    --box-shadow:  0px 0px  2px 3px rgb(206, 206, 228);
}


*{
    margin: 0ppx;
    padding: 0px;
    box-sizing: border-box;

}
.card-box{
    /* border: var(--border); */
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245, 239, 239);
}
.card{
    height: 510px;
    width: 310px;
    margin: 18px auto;
    /* border: var(--border); */
    box-shadow: var(--box-shadow);

}
.c1{
    /* border: var(--border); */
    height: 300px;
    width: 300px;
    margin: 2px auto;
    margin-top: 3px;
    box-shadow: var(--box-shadow);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6x_Wg1kgUi8p_hPlYMhVf6fKm0i-rsYwPJA&s://files.yappe.in/place/full/vivek-hospital-6409261.webp");
    background-size: 100% 100%;

}
.c2{
    /* border: var(--border); */
    height: 203px;
    width: 300px;
    margin: 2px auto;
    box-shadow: var(--box-shadow);
    background-color: aliceblue;



}
.c2 h2{
    /* border: var(--border); */
    margin-top: 0px;
    text-align: center;
    background-color: aliceblue;
}
.c2 h3{
    /* border: var(--border); */
    margin-top: 0em;
    text-align: center;
    font-family:  Arial;
    font-weight: 100;
    font-size: 15px;
}
.c2 a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(119, 179, 7);
    color: aliceblue;
   font-size: 20px;
   padding: 6px 60px;
   border-radius: 7px;
   position: relative;
   left: 35px;
   bottom: -20px;

 
}
/* for card 2 */
.card2-img{
    background-image: url("healer.png");

}


/* for responsive  */
/* @media (max-width:)
 */


